
.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  max-width: 960px;

}
.thumbnail {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
}
.thumbnail img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.movie-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #cccccc85;
  z-index: 5;

}
.movie-title h2 {
  color: yellow;
  /* color: #fff; */
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
} 
